div.vjsPoster {
    visibility: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
	top:0;
}

div.vjsInvisible {
    visibility: hidden !important;
    opacity: 0 !important;
}

div.vjs-poster-overlay {
    height: 100%;
	width: 100&;
	position: relative;
	z-index: 2;
	opacity: 0;
			-webkit-transition: opacity 0.2s ease-in-out;
	  -moz-transition: opacity 0.2s ease-in-out;
	  -ms-transition: opacity 0.2s ease-in-out;
	  -o-transition: opacity 0.2s ease-in-out;
	  transition: opacity 0.2s ease-in-out;
	-webkit-box-shadow: inset 0 0 250px rgba(255,255,255,0.5);
    box-shadow: inset 0 0 250px rgba(255,255,255,0.5);
	cursor:pointer;
}

div.vjs-poster-text {
	position: absolute;
	font-size:3em;
	font-family:verdana;
	bottom:1em;
	padding:0 0.4em 0.1em;
	color:#f1f1f1;
	right:0;
	background:#407699;
	z-index: 2;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	-webkit-box-shadow: inset 0 0 250px rgba(255,255,255,0.4);
    box-shadow: inset 0 0 250px rgba(255,255,255,0.4);
	cursor:pointer;
}

div.vjs-poster-overlay:hover {
    opacity:1;
}